body{
	background: url("2--kigali_city.jpg") no-repeat top;
	background-size:cover;
}
ul{
	margin:0px;
	padding:0px;
	list-style:none;
	opacity:.8;
}
ul li{
	float:left;
	width:200px;
	height:40px;
	background-color:black;
	text-align:center;
	line-height:40px;
	font-size:20px;
}

ul li a{
	display:block;
	color:white;
	text-decoration:none;
}
ul li a:hover{
	background-color: green;
}
ul li ul li{
	display:none;
}

ul li:hover ul li{
	display:block;
}
#me{
	float:center;
	padding-top:200px;
	
}
